<form class="form-signin" role="form" ng-submit="login()">
	<h2 class="form-signin-heading">Sign in</h2>
	<input type="email" class="form-control" placeholder="Email address" required autofocus ng-model="user.mail">
	<input type="password" class="form-control" placeholder="Password" required ng-model="user.password">	
	<button class="btn btn-primary" type="submit">Sign in</button>
</form>